// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


.custom-card {
	width: 20rem;
	height: 30rem; /* Fast højde på kortet */
	margin-bottom: 10px;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform .2s;

	&:hover {
		transform: scale(1.05);
	}

	.card-img-top {
		height: 15rem; /* Fast højde på billedet */
		width: 100%;   /* Billedet fylder hele bredden af kortet */
		object-fit: cover; /* Bevarer aspektforholdet og beskærer billedet om nødvendigt */
	}

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 15px; /* Lidt mere afstand mellem billede og tekst */
		height: 10rem; /* Fast højde for at holde det konsistent */
		overflow: hidden; /* Skjul overskydende tekst */
		text-overflow: ellipsis; /* Tilføj tre prikker for lang tekst */
	}

	.card-text {
		margin-top: auto; /* Skubber brand-navnet ned */
		margin-bottom: 0; /* Fjerner ekstra afstand under brand-navnet */
		white-space: nowrap; /* Sørg for at teksten ikke brydes til flere linjer */
		overflow: hidden; /* Skjul overskydende tekst */
		text-overflow: ellipsis; /* Tilføj tre prikker for lang tekst */
	}
}

.row {
	gap: 1rem; /* Alternativ til g-3, hvis det ikke virker som forventet */
}

